.main {
  margin-top: 100px;
}

.topDiv,
.centerDiv,
.bottomDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.topDiv {
  width: 100%;
}

.topDiv img {
  width: 35%;
}

.centerDiv {
  flex-direction: column;
  gap: 5px;
}
.centerDiv p {
  font-size: 22px;
  font-weight: bold;
  color: #303742;
}

.bottomDiv > div > button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 32px !important;
  height: 44px !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  font-family: inherit !important;
  border-radius: 8px !important;

  background-color: #303742;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease !important;
}

.bottomDiv > div > button:hover {
  transform: scale(1.08) !important;
  font-size: 22px !important;
}
