.container {
    font-weight: 600;
    width: 2480px;
    background-color: #F4F7FF;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 15px 15px 15px 0px;
    box-sizing: border-box;
}
.children {
    width: 2480px; 
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.children div {
    color: #303742;
}

 .inputClick, .walletAge,  .totalAssets, .date,.country, .landingPage, .userID, .label, .exitPage {
    flex: 2
}
.topAssets, .sourceOfFunds{
    flex: 3;
}

.os { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.wallet, .os, .avatar, .duration, .browser, .action, .pages{
    flex: 1
}