.wrapper{
    background: #fff;
    position: relative;
    width: 18%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap:36px ;
    border-radius:6px ;
    box-shadow: 0px 0px 4px 0px #00000026;
  


   
}



.Xicon{
    width: 14px;
    height:14px;
    }

.closeBtn{
    position: absolute;
    top:15px;
    right:10px;
}

.title{
    font-family:Inter ;
    font-weight: 700;
    font-size:18px;
    color:#1c1c1c;
    margin-top: 3px;
}

.text{
    font-family:Inter ;
    font-weight: 600;
    font-size:14px;
    color:#3a3a3a;
    line-height:1.5 ;
}


.btnContainer{
    display: flex;
    column-gap: 12px;
    justify-content: end;
    margin-top:5px ;
}

