.main {
  display: flex;
  justify-content: space-between;
}

.copy {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.btnCopy {
  height: 1.8em;
  background-color: white;
  border: solid 1px #418efd;
  color: #418efd;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
