.container {
  display: flex;
}

.contentWrapper {
  background: #f8f8f8;
  width: 100%;
  padding: 28px 72px 28px 26px;
}

.emptyDataViewWrapper {
  padding: 28px 72px 28px 26px;
}

.loadingWrapper {
  padding: 28px 72px 28px 26px;
  display: flex;
  width: 100%;
}

.header {
  border-bottom: 1px solid #d6d6d6;
}

.snapshotWrapper {
  padding: 28px 0 28px 26px;
}

.groupBtnWrapper {
  margin-bottom: 28px;
}

.addNewHtmpBtnWrapper {
  display: flex;
  width: 100%;
}
