.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 22px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 14px;
  text-transform: capitalize;
}

.subtitle {
  font-size: 14px;
  color: #707070;
}

.rightSection {
  display: flex;
  gap: 12px;
}
