.main {
  padding: 0px 0px;
}

.title {
  font-weight: 600;
  font-size: 1.5em;
}

.emptyDataViewWrapper {
  padding: 28px 72px 28px 26px;
}

.loadingWrapper {
  padding: 28px 72px 28px 26px;
  display: flex;
  width: 100%;
}
