.dropDownProfile {
  position: absolute;
  top: 120%;
  right: 10%;
  display: flex;
  flex-direction: column;
  width: 225px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  display: none;
  transition: all 0.1s ease;
}

.open {
  display: block;
}

.profileInfo {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  background-color: #f8f8f8;
  padding: 12px 0 16px 8px;
}

.grayLogin {
  margin-right: 8px;
}

.profileInfo p {
  font-weight: 600;
  font-size: 14px;
}

.logoutWrapper {
  padding: 12px 0 10px 14px;
}

.logoutImg {
  margin-right: 14px;
}

.logoutBtn {
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
}
