.main {
  margin: 100px auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #303742;
}

.welcome {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 600;
}

.question {
  font-size: 28px;
  font-weight: 600;
}
