.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 16px;
  font-weight: 600;
  color: #303742;
}

.icon {
  display: flex;
  column-gap: 12px;
}
