.container {
  position: relative;
}

.lastDayBtn {
  display: flex;
  align-items: center;
  padding: 8px 30px 8px 12px;
  background-color: #f4f7ff;
  border-radius: 6px;
  width: fit-content;
}

.lastDayBtn img:first-child {
  margin-right: 8px;
  margin-bottom: 2px;
}

.lastDayBtn h2 {
  margin-right: 16px;
  color: #303742;
  font-size: 14px;
  font-weight: 500;
}
