.main {
  border-radius: 8px;
  border: solid 1px #e1e1e1;
  background-color: #fff;
  padding: 24px 36px;
  width: 60%;
  margin: 80px auto;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.divOne {
  display: flex;
  display: flex;
  align-items: center;
}

.h1 {
  margin-left: 15px;
  font-weight: 600;
  font-size: 22px;
}

.divTwo {
  margin-left: 45px;
}
.short {
  display: flex;
  flex-wrap: nowrap;
  margin: 25px 0px;
  font-weight: 500;
}

.phead {
  font-size: 14px;
}

.phead span {
  color: #418efd;
  font-weight: 700;
}

.down {
  display: flex;
  justify-content: space-between;
}

.leftbtn {
  flex: 5;
  display: flex;
  gap: 12px;
}

.verify {
  background-color: #418efd;
  border: solid 2px #418efd;
  border-radius: 5px;
  color: white;
  padding: 7px 15px;
}

.other {
  padding: 4px 9px;
  margin-left: 40px;
}

.rightbottom {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #303742;
  font-size: 14px;
}

.link strong {
  font-weight: 600;
}
