.snapshotUsedWrapper {
  position: absolute;
  bottom: 16px;
  left: 24px;
  display: flex;
  gap: 18px;
  overflow: hidden;
}

.responsiveDesign {
  background-color: #d6d6d6;
  border-radius: 6px;
  padding: 0px 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.typeOfUse {
  background-color: #d6d6d6;
  border-radius: 6px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 10px;
  border-radius: 6px;
  color: #303742;
}

.activeBtn {
  background-color: #f8f8f8;
}
