.wrapper{
    width:25%;
    border-radius:6px ;
    box-shadow: 0px 0px 4px 0px #00000026;
}


.head{
    padding:12px 8px;
    border-bottom:solid 1px #D6D6D6;
}


.body{
    padding-left:17% ;
    padding-top:3%;
    padding-bottom: 3%;

}