.container {
  display: grid;
  grid-template-columns: fit-content(20%) auto;
  grid-template-rows: 1fr auto;
  grid-auto-flow: column;
  height: 100%;
}

.childrenContainer {
  padding: 32px 72px 32px 28px;
}
