.childrenContainer {
  padding: 64px 72px 32px 82px;
}

.isCollapseOpen {
  padding-left: 145px;
}

.navigationBar {
  position: fixed;
  top: 64px;

  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999999;
  overflow-y: scroll;
}
