.wrapper{
    display:flex;
    flex-direction: column;
}


.textContainer{
    display:flex;
    column-gap: 8px;
 
}

.text{
    font-family: Inter;
    font-size:16px;
    font-weight:500;
    color:#303742;
    text-decoration:none;
}


.icon{
    width:18px;
    height:18px;
}

