.header {
  background-color: #fff;
  padding: 22px 0;

  display: flex;
  align-items: center;
}

.stepItems {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-left: 72px;
}

.stepItem {
  color: #d1d2d4;
  text-decoration: line-through;
}

.isActive {
  font-weight: 600;
  color: #fd267a;
  text-decoration: none;
}

.doItLater {
  padding-right: 72px;
}

.doItLater a {
  color: #303742;
  text-decoration: none;
  font-weight: 600;
  transition: text-decoration 0.1s ease;
}

.doItLater a:hover {
  text-decoration: underline;
}
