.container {
height: 108%; 
width: 1120px;
border: solid blue 1px;
overflow: auto; 
box-sizing: border-box;
}
  
.scrollableContent {
height: 100%; 
border: solid red 1px;
overflow-x: scroll;
box-sizing: border-box;
}
  
  
  
  
  
  